.container {
  width: 80%;
  border-radius: 10px;
  margin: 60px auto;
}

.container h2 {
  font-size: 48px;
  text-align: center;
  padding: 20px;
}

.container table {
  width: 100%;
  text-align: left;
  border-spacing: 20px;
}

.container table thead {
  font-size: 24px;
}

.container .footer {
  font-size: 24px;
}

@media screen and (max-width: 925px) {
  .container h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 625px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }

  .container h2 {
    font-size: 24px;
  }

  .container table thead {
    font-size: 18px;
  }

  .container .footer {
    font-size: 18px;
  }
}
