.container {
  width: 80%;
  border-radius: 10px;
  margin: 77px auto;
  padding: 10px 20px;
}

.container h2 {
  font-size: 36px;
  text-align: center;
  padding: 20px;
}

.content {
  display: flex;
}

.left,
.right {
  width: 50%;
  height: 100%;
}

.left p {
  width: 70%;
  font-size: 24px;
  margin: 30px auto;
}

.right {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.right div {
  margin-bottom: 10px;
}

.right p {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 24px;
}

.right span {
  margin-left: 40px;
}

@media screen and (max-width: 995px) {
  .right p,
  .left p {
    font-size: 18px;
  }

  .right span {
    margin-left: 10px;
  }
}

@media screen and (max-width: 750px) {
  .container {
    margin: 30px auto;
  }

  .right p,
  .left p {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .container {
    width: 95%;
    margin: 30px auto;
  }

  .left,
  .right {
    width: 95%;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }
}
