.container {
  list-style: none;
  display: flex;
}

.container li {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 20px;
}

.container li:hover {
  background: rgba(240, 131, 248, 0.5);
}

.current {
  background: rgba(240, 131, 248, 0.6);
}

@media screen and (max-width: 725px) {
  .container {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 400px) {
  .container li {
    font-size: 18px;
  }
}
