.container {
  width: 70%;
  min-height: 600px;
  border-radius: 10px;
  margin: 77px auto;
  display: flex;
  align-items: flex-end;
}

.left {
  width: 20%;
  height: 550px;
  margin: 40px;
  border-radius: 10px;
  background: #75167d;
}

.right {
  width: 70%;
  height: 470px;
  margin: 40px;
  border-radius: 10px;
  background: #75167d;
}

.left h3 {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

.left .category {
  width: 90%;
  margin: 30px auto;
  padding: 3px 6px;
  background: linear-gradient(#a941b2, rgba(255, 255, 255, 0)), #c859d1;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.left .category h4 {
  font-size: 24px;
  margin-left: 5px;
}

.left .category i {
  margin-right: 5px;
}
