html,
body {
  font-family: Roboto;
  color: #f4eff4;
}

a {
  color: #f4eff4;
  text-decoration: none;
}

.App {
  min-height: 1080px;
  background: linear-gradient(360deg, #75167d 0%, rgba(200, 89, 209, 0.83) 100%),
    url("./images/background.png") center center/cover;
}

.bg-primary {
  background-color: #410a46;
}

.shadowed {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.btn {
  font-family: Roboto;
  font-weight: bold;
  color: #f4eff4;
  margin: 5px;
  padding: 7px 12px;
  background-color: #c859d1;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #f083f8;
}
